@import "../../colors.scss";

@mixin rotate($rotation) {
  transform: rotate($rotation);

  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate($rotation);

  /* Firefox */
  -moz-transform: rotate($rotation);

  /* IE */
  -ms-transform: rotate($rotation);

  /* Opera */
  -o-transform: rotate($rotation);
}

body {
  background-color: #3e3e3e; 
}

h1#title {
  color: #000;
  -webkit-text-stroke: white 0.8px;
  font-size: 60px;
  font-family: "Courier new", monospace;
  font-weight: 900;
  margin: auto;
  padding: 30px 0;
  // @include rotate(40);
}
