@import "../../colors.scss";

body {
  background-color: #3e3e3e;
}

h1#title {
  color: #222;
   -webkit-text-stroke: white 1px;
  font-size: 60px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-weight: 400;
  margin: auto;
  padding: 30px 0;
}