@mixin remove-button-style() {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

main {
  display: grid;
  grid-auto-flow: row;

  h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
  }

  .hidden {
    display: none !important;
  }

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;

    div {
      width: 33vw !important;
    }

    .steer-control,
    .power-control {
      align-self: center;
      display: flex;
      justify-content: space-between;
      height: 40% !important;

      button {
        height: 64px;
        width: 64px;
      }


      .ctrl {
        @include remove-button-style();
      }
    }

    .steer-control {
      flex-direction: row;
    }

    .power-control {
      flex-direction: column;
      align-items: center;
    }

    .speedometer {
      text {
        font-family: sans-serif;
      }

      text.segment-value {
        stroke: #262C2E;
        stroke-width: 1px;
      }
    }
  }
}
