@mixin remove-button-style() {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

main {
  display: grid;
  grid-auto-flow: row;

  h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
  }

  .hidden {
    display: none !important;
  }

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 100vw;

    div {
      width: 33vw !important;
      height: fit-content;
    }

    .steer-control,
    .power-control {
      display: grid;

      .ctrl {
        @include remove-button-style();
      }
    }

    .speedometer {
      text { 
        font-family: sans-serif;
      }

      text.segment-value {
        stroke: #262C2E;
        stroke-width: 1px;
      }
    }
  }
}
