body {
  background-color: #3e3e3e;
  color: darken(whitesmoke, 3%);

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

h1,
p,
a {
  font-family: "Trebuchet MS", "Tahoma", sans-serif;
  text-align: center;
  justify-content: center;
}

h1 {
  font-size: 32px;
  margin-top: 36vh;
}

a {
  color: lighten(rgb(58, 122, 219), 5%);
  font-size: 18px;
}
