@import "../../../../node_modules/roboto-sass/scss/roboto.scss";

.setting-page-intro {
  h2 {
    font-family: "Roboto";

    font-weight: 500;
  }
}

.setting-page {
  font-family: "Roboto";
  // position and size
  width: 80vw;
  margin-top: 20px;
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  align-content: flex-start;
  height: 65vh;

  // color
  background-color: #222;

  h2 {
    margin: 2px 10px;
    border-bottom: solid 1px #ccc;
  }

  .setting-component-group {
    place-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 6px;
    height: 30px;

    input[type="slider"] {
      width: 160px;
      margin: 0 6px;
    }

    p.label {
      margin: 0 20px;
      width: 300px;
      // height: 100px;
    }

    p.unit {
      width: 100px;
    }

    input[type="range"] {
      width: 100%;
      margin: 13.65px 0;
      background-color: transparent;
      -webkit-appearance: none;
    }
    input[type="range"]:focus {
      outline: none;
    }
    input[type="range"]::-webkit-slider-runnable-track {
      background: #bbbbbb;
      border: 0.5px solid #000;
      border-radius: 1.3px;
      width: 100%;
      height: 8.7px;
      cursor: pointer;
    }
    input[type="range"]::-webkit-slider-thumb {
      margin-top: -13.85px;
      width: 16px;
      height: 36px;
      background: #eeeeee;
      border: 1.4px solid #340e00;
      border-radius: 3px;
      cursor: pointer;
      -webkit-appearance: none;
    }
    input[type="range"]:focus::-webkit-slider-runnable-track {
      background: #dadada;
    }
    input[type="range"]::-moz-range-track {
      background: #bbbbbb;
      border: 0.2px solid #000;
      border-radius: 1.3px;
      width: 100%;
      height: 8.7px;
      cursor: pointer;
    }
    input[type="range"]::-moz-range-thumb {
      width: 16px;
      height: 36px;
      background: #eeeeee;
      border: 1.4px solid #340e00;
      border-radius: 3px;
      cursor: pointer;
    }
    input[type="range"]::-ms-track {
      background: transparent;
      border-color: transparent;
      border-width: 14.65px 0;
      color: transparent;
      width: 100%;
      height: 8.7px;
      cursor: pointer;
    }
    input[type="range"]::-ms-fill-lower {
      background: #9c9c9c;
      border: 0.2px solid #000;
      border-radius: 2.6px;
    }
    input[type="range"]::-ms-fill-upper {
      background: #bbbbbb;
      border: 0.2px solid #000;
      border-radius: 2.6px;
    }
    input[type="range"]::-ms-thumb {
      width: 16px;
      height: 36px;
      background: #eeeeee;
      border: 1.4px solid #340e00;
      border-radius: 3px;
      cursor: pointer;
      margin-top: 0px;
      /*Needed to keep the Edge thumb centred*/
    }
    input[type="range"]:focus::-ms-fill-lower {
      background: #bbbbbb;
    }
    input[type="range"]:focus::-ms-fill-upper {
      background: #dadada;
    }

    input[type="button"] {
      border: 0;
      border-radius: 0.25rem;
      font-family: Roboto, sans-serif;
      font-size: 1rem;
      line-height: 1.2;
      white-space: nowrap;
      text-decoration: none;
      padding: 0.25rem 0.5rem;
      margin: 0.25rem;
      cursor: pointer;
      outline: none;

      height: 28px;
      color: #000;
      background-color: #ccc;
      // border: #bbab1e solid 3px;

      $size: 36px;
      height: $size;
      text-align: center;
      transition: background-color 80ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

      // reset style for ios
      -webkit-appearance: none;
    }

    input[type="button"]:active {
      border-radius: 3px;
      transition: background-color 80ms cubic-bezier(0.165, 0.84, 0.44, 1);
      background-color: #eee;
    }
    /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
    @supports (-ms-ime-align: auto) {
      /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
      input[type="range"] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
      }
    }
  }
}
